@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --ff-primary: "Noto Sans JP", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --clr-light: rgb(236, 236, 236);
  --clr-dark: rgb(19, 6, 6);
  --clr-green: rgb(37, 107, 58);
  --clr-yellow: rgb(228, 225, 44);
  --bs: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.3),
    0.15em 0.15em 0.8em rgba(0, 0, 0, 0.35);
  --transition: all 0.3s ease-in-out;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-light);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--clr-light);
}
::-webkit-scrollbar-thumb {
  background: var(--clr-yellow);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-green);
}

/* MAIN */
#header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: var(--clr-green);
  display: flex;
  align-items: center;
}

#header h3 {
  font-size: 1.5em;
  margin-left: 30px;
}

#menuList {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 30px;
}
#menuList li {
  margin-left: 30px;
  font-size: 1.2em;
}
#header a,
#footer a {
  text-decoration: none;
  color: var(--clr-light);
}
#menuList li a:hover,
#footer a:hover {
  cursor: pointer;
  color: var(--clr-yellow);
}

#listCont {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "wl rated favs";
}
#listCont h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

#watchlistCont {
  grid-area: "wl";
}
#ratedMoviesCont {
  grid-area: "rated";
  border-left: 1px solid var(--clr-light);
  border-right: 1px solid var(--clr-light);
}
#favoritesCont {
  grid-area: "favs";
}

.innerList {
  color: var(--clr-green);
  padding: 0px 18px;
}
#sortDiv {
  text-align: center;
  margin: 10px 0;
}

.listItem {
  display: grid;
  grid-template-areas: "img title";
  grid-template-columns: 50px auto;
  padding: 10px 0px;
  min-height: 100px;
}
.listTitleDiv {
  text-align: center;
  padding: 0 10px;
}
.listTitleDiv button:hover {
  background-color: rgb(160, 40, 40);
}
.listItem h4 {
  padding: 10px 0;
  font-size: 1.1em;
  transition: var(--transition);
}
.listItem h4:hover {
  color: var(--clr-yellow);
  cursor: pointer;
}
.listImgDiv {
  grid-area: "img";
  display: flex;
  align-items: center;
  justify-content: center;
}
.listImg {
  width: 50px;
  height: auto;
}
.listHr {
  border: none;
  height: 2px;
  background-color: var(--clr-light);
}

/* SEARCH */
#searchCont {
  width: 94%;
  margin: 0 3%;
  min-height: 100vh;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

#searchDiv {
  min-height: 60px;
  line-height: 60px;
  margin: 20px;
  text-align: center;
}
#searchDiv input[type="search"] {
  width: 300px;
}

.textInput {
  height: 30px;
  padding-left: 10px;
  border-radius: 7px;
  font-size: 15px;
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
}
.textInput:focus {
  outline: none;
}

.btn {
  min-height: 30px;
  padding: 0px 13px;
  border-radius: 7px;
  font-size: 15px;
  background-color: var(--clr-green);
  color: var(--clr-light);
  border: none;
  transition: var(--transition);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--clr-yellow);
  color: var(--clr-dark);
  transform: translateX(5px);
}
.btn:focus {
  outline: none;
  background-color: var(--clr-yellow);
  color: var(--clr-dark);
  transform: translateX(5px);
}

/* RESULTS */
.movieTag {
  color: var(--clr-green);
}
.movieTag > summary {
  list-style: none;
  outline: none;
}
.movieTag > summary::-webkit-details-marker {
  display: none;
}
.movieTag summary h4:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.movieDiv {
  animation-name: opacityAnim, fadeIn;
  animation-duration: 1300ms;
  padding: 30px 15px 30px 0px;
  min-height: 200px;
  display: grid;
  grid-template: "img about actions";
  grid-template-columns: 20% 60% 20%;
}

.imgDiv {
  grid-area: "img";
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgDiv img {
  width: 70%;
}

.overviewDiv {
  grid-area: "about";
  text-align: justify;
  padding: 0px 15px 0px 5px;
}
.overviewDiv h5 {
  line-height: 2em;
}

.actionsDiv {
  grid-area: "actions";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rateDiv {
  text-align: center;
  margin: 0px 8px;
}
.rateDiv .rateMovie {
  width: 60px;
}

.disabledBtn {
  transform: none;
  background-color: var(--clr-dark);
  min-height: 30px;
  padding: 0px 13px;
  border-radius: 7px;
  font-size: 15px;
  color: var(--clr-light);
  border: none;
}
.disabledBtn:hover {
  transform: none;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  cursor: inherit;
}

#footer {
  bottom: 0px;
  width: 100vw;
  height: 50px;
  background-color: var(--clr-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings {
  position: fixed;
  top: 48px;
  right: 0px;
  width: 500px;
  line-height: 2em;
  height: calc(100vh - 48px);
  background-color: var(--clr-light);
  color: var(--clr-green);
  border: 2px solid var(--clr-green);
  opacity: 0;
  transition: var(--transition);
  display: none;
}
#exitSettings {
  position: fixed;
  top: 60px;
  right: 15px;
}
#exitSettings:hover {
  cursor: pointer;
}
#settingsFormDiv {
  margin: 20px;
}
#settings input[type="text"],
#settings input[type="password"] {
  width: 300px;
}
#settings label {
  display: inline-block;
  margin-top: 50px;
}
#settingsAlert {
  color: rgb(199, 25, 25);
}
#deleteBtn {
  background-color: rgb(199, 25, 25);
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  #header h3 {
    font-size: 1em;
    margin-left: 20px;
  }

  #menuList {
    font-size: 0.9em;
    right: 15px;
  }

  #searchCont {
    width: 100vw;
    margin: 0;
  }
  #searchInput {
    width: 250px;
  }

  .movieDiv {
    display: grid;
    grid-template: "img about" "actions";
    grid-template-columns: 30% 70%;
  }

  .actionsDiv {
    min-height: 70px;
    padding: 35px 0px;
    grid-area: "actions";
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    align-items: space-around;
  }

  #settings {
    width: 100vw;
    padding-left: 20px;
  }
  #settings input[type="text"],
  #settings input[type="password"] {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .btn {
    font-size: 0.8em;
  }

  #header h3 {
    font-size: 0.7em;
    margin-left: 10px;
  }

  #menuList {
    font-size: 0.8em;
  }
  #menuList li {
    margin-left: 20px;
  }

  #searchInput {
    width: 220px;
  }
  #searchDiv {
    line-height: 60px;
    margin: 20px 0px;
    text-align: center;
  }

  .movieDiv {
    display: grid;
    grid-template: "about" "actions";
  }
  .imgDiv {
    display: none;
  }
  #settings {
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 330px) {
  #header h3 {
    display: none;
  }
}
